---
interface Props {
    title: string;
    company: string;
    from: Date;
    to: Date;
}

const { title, company, from, to } = Astro.props;
---

<div class="group transition-all py-4">
    <div class="flex flex-col items-baseline my-2">
        <h4 class="text-lg text-accent-600">{title}</h4>
        <div class="-mt-2">
            <span class="text-gray-400 text-sm font-thin mx-3">{company}</span>
            <span class="text-gray-400 text-xs font-thin flex-grow text-right">
                {
                    from.toLocaleDateString(undefined, {
                        month: "short",
                        year: "numeric",
                    })
                } -
                {
                    to.toLocaleDateString(undefined, {
                        month: "short",
                        year: "numeric",
                    })
                }
            </span>
        </div>
    </div>

    <ul class="list-disc text-sm ml-4">
        <slot />
    </ul>
</div>
