---
interface Props {
  title?: string;
}

const { title } = Astro.props;
---



<div class="mx-4">
  <hr class="h-px my-6 border-gray-400 border-1">
  <h3 class="uppercase text-gray-400 font-thin tracking-wide">{title}</h3>
  <div>
    <slot/>
  </div>
</div>