---
import { Icon } from "astro-icon/components";

interface Props {
  icon?: string;
  examples?: string;
}

const { icon = "fa-solid:align-justify", examples = "" } = Astro.props;
---

<div>
  <Icon name={icon} class:list={["inline", "w-4", "mx-1"]} /><span
    ><slot /></span
  >
  {examples && <span class="text-[.6rem]  sm:inline-block">({examples})</span>}
</div>
